.list-inline-item .btn-outline-info{
    color : white;
     border:1px solid rgb(112, 38, 134) ; 
    background-color:black ;
}
.list-inline-item .btn-outline-info:hover{
    color : white;
     border:1px solid rgb(112, 38, 134) ; 
    background-color:#5b3769; ;
}
// .card{
//     min-height: 70vh;
//     // max-height: 70vh !important;
// }
// .img-fluid{
//     height: 69.81vh;
// }